.section-sms-spacer .pl-section-pad{
  padding: 0 !important;
  margin: 0 !important;
}
.section-sms-spacer{
  display: table;
  clear: both;
  width: 100%;
  position: relative;
  overflow: hidden;
  font-size: 1rem;
}
